<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel = 'stylesheet' type="text/css" href="{% static 'jquery.fullPage.css'%}">
    <link rel = 'stylesheet' type="text/css" href="{% static 'main.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'jquery.fullPage.js'%}"></script>
    <script src="{% static 'main.js'%}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>


    <div id="fullpage">
        <div class = "section">
            <center>
                <p class="eng" style="line-height:0em;  font-size:9vw;">BGM</p>
                <p class = "kor" style="font-size:3.5vw;">다양한 능력과 가치관을 공유하고 발전시켜<br>
                삶과 세상에 대한 유의미한 인사이트를 얻다</p>
            </center>

        </div>
        <div class = "section" >
            <div class = "parent" style="width = 100%; height : 70%">
                <div class="child1" >
                    <div style="position: absolute; bottom : 30%">
                        <span class="eng" style="line-height:0em; margin-left: 2em; font-size:6vw;">Brilliance</span>
                        <span style="margin-left: 0.5vw; font-size:2.2vw;">achieved by</span>
                        <p style="line-height:0em; margin-left: 2em; font-size:6vw;">Great Minds</p>
                    </div>
                </div>

                <div class="child2"  >
                    <div style="position: absolute; bottom : 60%">
                        <span class="kor" style="margin-left: 0.1vw; font-size:2.5vw;">자유성</span>
                        <span class="eng" style="line-height:2.2em; margin-left: 0.4vw; font-size:1.5vw;">free will</span>
                        <p class="kor" style="line-height:0em; margin-left: 0.2vw; font-size:1.3vw;">삶의 주인공은 본인이며 </p>
                        <p class="kor" style="line-height:0.2em; margin-left: 0.2vw; font-size:1.3vw;">항상 선택권은 자신에게 있다</p>
                    </div>
                    <div style="position: absolute; bottom : 40%">
                        <span class="kor" style="margin-left: 0.1em; font-size:2.5vw;">다양성</span>
                        <span class="eng" style="line-height:2.2em; margin-left: 0.4em; font-size:1.5vw;">open minde</span>
                        <p class="kor" style="line-height:0em; margin-left: 0.2em; font-size:1.3vw;">생각이 다르다는 것은 당연하다</p>
                        <p class="kor" style="line-height:0.2em; margin-left: 0.2em; font-size:1.3vw;">새로운 생각과 시각을 통해 삶을 다채롭게 할 수 있다</p>
                    </div>
                    <div style="position: absolute; bottom : 20%">
                        <span class="kor" style="margin-left: 0.1em; font-size:2.5vw;">진취성</span>
                        <span class="eng" style="line-height:2.2em; margin-left: 0.4em; font-size:1.5vw;">chellengable</span>
                        <p class="kor" style="line-height:0em; margin-left: 0.2em; font-size:1.3vw;">누구나 상상은 할 수 있다</p>
                        <p class="kor" style="line-height:0.2em; margin-left: 0.2em; font-size:1.3vw;">하지만 첫 걸음을 시작하는 것은 다르다</p>
                    </div>
                </div>
            </div>




        </div>
        <div class = "section">
            <h2>section 3</h2>
            <p>fdsafasfasv</p>
        </div>
        <div class = "section">
            <h2>section 3</h2>
            <p>fdsafasfasv</p>
        </div>
    </div>
    <script>
        new fullpage('#fullpage', {
            //options here
            autoScrolling:true,
            scrollHorizontally: true
        });

        //methods
        fullpage_api.setAllowScrolling(false);
    </script>
</body>
</html>