
html.fp-enabled,



.eng {
    font-family: 'Playfair Display', serif;
}
.kor {
     font-family: 'Nanum Myeongjo', serif;
}
p {
    color : white;
}
span {
    color : white;
}
div .parent {

}
div .child1 {
    width : 60vw;
    min-width : 30hw;
    margin-left : 3vw;
}
div .child2 {
    width : 30vw;
    min-width : 30hw;
    margin-left : 60vw
}
body {
	background-color: #6f9191;
}

.updown {
    border: 5px solid black; width: 0.1px; height: 50px;
}